/*

!/cmake/
!/src/
!/data/

!.clang-format
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

*.user
*.suo
*.opensdf
*.sdf
*.ipch
*.lock.json
.DS_Store
Thumbs.db

/cmake/.CMakeBuildNumber