name: Build Project
on:
  workflow_call:
    outputs:
          pluginName:
            description: "Plugin Name from buildspec.json"
            value: ${{ jobs.windows-build.outputs.NAME }}
          pluginVersion:
            description: "Plugin Version from buildspec.json"
            value: ${{ jobs.windows-build.outputs.VERSION }}
jobs:
  windows-build:
    name: Build Windows x64
    runs-on: windows-2022

    outputs:
      NAME: ${{ steps.config.outputs.NAME }}
      VERSION: ${{ steps.config.outputs.VERSION }}

    defaults:
      run:
        shell: pwsh
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Configure Environment
        id: config
        run: |
          $Json = Get-Content buildspec.json -Raw | ConvertFrom-Json
          echo "NAME=$($Json.name)" >> $env:GITHUB_OUTPUT
          echo "VERSION=$($Json.version)" >> $env:GITHUB_OUTPUT
          
          if ($env:GITHUB_REF -match "refs/tags/") {
            echo "BUILD_TYPE=Release" >> $env:GITHUB_OUTPUT
            Write-Host "Build Mode: RELEASE (Tag Detected)"
          } else {
            echo "BUILD_TYPE=RelWithDebInfo" >> $env:GITHUB_OUTPUT
            Write-Host "Build Mode: RELWITHDEBINFO (Dev Build)"
          }

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.6.3'
          arch: 'win64_msvc2019_64'
          cache: 'true'

      - name: Configure CMake
        run: cmake --preset windows-x64

      - name: Build
        run: cmake --build --preset windows-release --config ${{ steps.config.outputs.BUILD_TYPE }}

      - name: Stage Artifacts
        run: |
          $BuildType = "${{ steps.config.outputs.BUILD_TYPE }}"
          $SourceBin = "build/rundir/$BuildType/obs-plugins/64bit"
          $StageDir = "staging"
          
          New-Item -ItemType Directory -Force -Path $StageDir
          
          if (Test-Path "$SourceBin/*.dll") {
              Copy-Item "$SourceBin/*.dll" -Destination $StageDir
              Copy-Item "$SourceBin/*.pdb" -Destination $StageDir -ErrorAction SilentlyContinue
          } else {
              Write-Error "DLL files not found in $SourceBin"
          }
          
          Get-ChildItem $StageDir

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.config.outputs.NAME }}-${{ steps.config.outputs.VERSION }}-windows-x64
          path: staging/*