name: Pull Request Check
on:
  pull_request:
    branches: [ master, main ]
    paths-ignore:
      - '**.md'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  build-project:
    name: Build Test
    uses: ./.github/workflows/build-project.yaml
    secrets: inherit